body {
    font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
    font-size: 11pt; /* Размер основного шрифта в пунктах  */
    background: url(https://look.com.ua/pic/201407/1024x600/look.com.ua-108093.jpg); /* Цвет фона веб-страницы */
    background-size: cover;
    color: rgb(0, 0, 0); /* Цвет основного текста */ 
  }
  h1 {
    color: #000000; /* Цвет заголовка */
    font-size: 24pt; /* Размер шрифта в пунктах */
    font-family: Georgia, Times, serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
  }
  h2 {
    color: #000000; /* Цвет заголовка */
    font-size: 24pt; /* Размер шрифта в пунктах */
    font-family: Georgia, Times, serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
  }
  h3 {
    color: #000000; /* Цвет заголовка */  
    font-size: 24pt; /* Размер шрифта в пунктах */
    font-family: Georgia, Times, serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
    margin-left: 60px; /* Отступ слева в пикселах */
    margin-right: 10px; /* Отступ справа в пикселах */
  }
  p {
    text-align: justify; /* Выравнивание по ширине */
    margin-left: 60px; /* Отступ слева в пикселах */
    margin-right: 10px; /* Отступ справа в пикселах */
    padding-left: 10px; /* Отступ от линии слева до текста  */
    padding-bottom: 10px; /* Отступ от линии снизу до текста  */
  }

  .gost {
    color: rgb(0, 0, 0); /* Цвет текста */
    font-weight: bold; /* Жирное начертание */
  
   }
   .beast {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Times, serif;
    color: rgb(0, 0, 0); /* Цвет текста */
   }
   .text {text-indent: 235px;
        font-weight: bold;}

        .footer-basic {
          padding:30px 0;
          background-color:#b3aeae;
          color:#4b4c4d;
        }

        
        .footer-basic .social {
          text-align:center;
          padding-bottom:5px;
        }
        
        .footer-basic .social > a {
          font-size:24px;
          width:40px;
          height:40px;
          line-height:40px;
          display:inline-block;
          text-align:center;
          border-radius:50%;
          border:1px solid rgb(255, 253, 253);
          margin:0 8px;
          color:inherit;
          opacity:0.85;
        }
        
        .footer-basic .number {
          margin-top:10px;
          text-indent: 1160px;;
          font-size:13px;
          color:rgb(0, 0, 0);
          margin-bottom:0;
        }

        .footer-basic .email {
          margin-top:5px;
          text-indent: 1145px;;
          font-size:13px;
          color:rgb(0, 0, 0);
          margin-bottom:0;
        }

        .footer-basic .copyright {
          margin-top:5px;
          text-indent: 1135px;;
          font-size:13px;
          color:rgb(0, 0, 0);
          margin-bottom:0;
        }
        
